@import "./variable";
#app{
    background-color: $colorWhite;
}
a{
    &:focus{
        box-shadow: unset;
    }
}
.common-btn{
    background-color: $colorPrimary !important;
    color: $colorWhite !important;
    width: 100%;
    border-radius: 25px !important;
    font-size: 20px !important;
    &:focus{
        box-shadow: unset !important;
    }
}    

input[type="text"], input[type="email"], input[type="password"]{
    background-color: $colorWhite !important;
    border-radius: 6px !important;
    border: 1px solid #d7d7d76e !important;
    &:focus{
        box-shadow: unset !important;
    }  
}

.select2{
    height: 37px;
    .select2-selection{
        height: 37px;
        background-color: $colorWhite;
        border-radius: 6px;
        border: 1px solid #d7d7d76e !important;
        .select2-selection__rendered{
            line-height: 37px;
        }
        .select2-selection__arrow{
            height: 37px;
        }
    }
}

// input{
//     &:checked{
//         background-color: $colorPrimary !important;
//     }
// }