@charset "UTF-8";
.pt-box-primary {
  box-shadow: #0077B6 !important;
}

.pt-color-primary {
  color: #0077B6 !important;
}

.pt-bg-primary {
  background-color: #0077B6 !important;
}

.pt-fill-primary {
  fill: #0077B6 !important;
}

.pt-border-color-primary {
  border-color: #0077B6 !important;
}

.pt-box-white {
  box-shadow: #ffffff !important;
}

.pt-color-white {
  color: #ffffff !important;
}

.pt-bg-white {
  background-color: #ffffff !important;
}

.pt-fill-white {
  fill: #ffffff !important;
}

.pt-border-color-white {
  border-color: #ffffff !important;
}

.pt-box-red {
  box-shadow: #F0140B !important;
}

.pt-color-red {
  color: #F0140B !important;
}

.pt-bg-red {
  background-color: #F0140B !important;
}

.pt-fill-red {
  fill: #F0140B !important;
}

.pt-border-color-red {
  border-color: #F0140B !important;
}

.pt-box-black {
  box-shadow: #252a32 !important;
}

.pt-color-black {
  color: #252a32 !important;
}

.pt-bg-black {
  background-color: #252a32 !important;
}

.pt-fill-black {
  fill: #252a32 !important;
}

.pt-border-color-black {
  border-color: #252a32 !important;
}

.pt-box-grey {
  box-shadow: #707070 !important;
}

.pt-color-grey {
  color: #707070 !important;
}

.pt-bg-grey {
  background-color: #707070 !important;
}

.pt-fill-grey {
  fill: #707070 !important;
}

.pt-border-color-grey {
  border-color: #707070 !important;
}

.pt-box-bgcolor {
  box-shadow: #E8EDF3 !important;
}

.pt-color-bgcolor {
  color: #E8EDF3 !important;
}

.pt-bg-bgcolor {
  background-color: #E8EDF3 !important;
}

.pt-fill-bgcolor {
  fill: #E8EDF3 !important;
}

.pt-border-color-bgcolor {
  border-color: #E8EDF3 !important;
}

.pt-width-p-0 {
  width: 0 !important;
}

.pt-min-width-p-0 {
  min-width: 0 !important;
}

.pt-width-p-30 {
  width: 30% !important;
}

.pt-min-width-p-30 {
  min-width: 30% !important;
}

.pt-width-p-40 {
  width: 40% !important;
}

.pt-min-width-p-40 {
  min-width: 40% !important;
}

.pt-width-p-60 {
  width: 60% !important;
}

.pt-min-width-p-60 {
  min-width: 60% !important;
}

.pt-width-p-70 {
  width: 70% !important;
}

.pt-min-width-p-70 {
  min-width: 70% !important;
}

.pt-width-p-80 {
  width: 80% !important;
}

.pt-min-width-p-80 {
  min-width: 80% !important;
}

.pt-width-p-90 {
  width: 90% !important;
}

.pt-min-width-p-90 {
  min-width: 90% !important;
}

.pt-width-p-100 {
  width: 100% !important;
}

.pt-min-width-p-100 {
  min-width: 100% !important;
}

.pt-width-p-auto {
  width: auto !important;
}

.pt-min-width-p-auto {
  min-width: auto !important;
}

.pt-width-px-0 {
  width: 0px !important;
}

.pt-flex-basis-px-0 {
  flex-basis: 0px !important;
}

.pt-min-width-px-0 {
  min-width: 0px !important;
}

.pt-width-px-40 {
  width: 40px !important;
}

.pt-flex-basis-px-40 {
  flex-basis: 40px !important;
}

.pt-min-width-px-40 {
  min-width: 40px !important;
}

.pt-width-px-50 {
  width: 50px !important;
}

.pt-flex-basis-px-50 {
  flex-basis: 50px !important;
}

.pt-min-width-px-50 {
  min-width: 50px !important;
}

.pt-width-px-88 {
  width: 88px !important;
}

.pt-flex-basis-px-88 {
  flex-basis: 88px !important;
}

.pt-min-width-px-88 {
  min-width: 88px !important;
}

.pt-width-px-100 {
  width: 100px !important;
}

.pt-flex-basis-px-100 {
  flex-basis: 100px !important;
}

.pt-min-width-px-100 {
  min-width: 100px !important;
}

.pt-width-px-150 {
  width: 150px !important;
}

.pt-flex-basis-px-150 {
  flex-basis: 150px !important;
}

.pt-min-width-px-150 {
  min-width: 150px !important;
}

.pt-width-px-auto {
  width: auto !important;
}

.pt-flex-basis-px-auto {
  flex-basis: auto !important;
}

.pt-min-width-px-auto {
  min-width: auto !important;
}

.pt-height-p-0 {
  height: 0 !important;
}

.pt-height-p-30 {
  height: 30% !important;
}

.pt-height-p-40 {
  height: 40% !important;
}

.pt-height-p-60 {
  height: 60% !important;
}

.pt-height-p-70 {
  height: 70% !important;
}

.pt-height-p-80 {
  height: 80% !important;
}

.pt-height-p-90 {
  height: 90% !important;
}

.pt-height-p-100 {
  height: 100% !important;
}

.pt-height-p-auto {
  height: auto !important;
}

.pt-height-px-0 {
  height: 0px !important;
}

.pt-max-height-px-0 {
  max-height: 0px !important;
}

.pt-height-px-40 {
  height: 40px !important;
}

.pt-max-height-px-40 {
  max-height: 40px !important;
}

.pt-height-px-50 {
  height: 50px !important;
}

.pt-max-height-px-50 {
  max-height: 50px !important;
}

.pt-height-px-88 {
  height: 88px !important;
}

.pt-max-height-px-88 {
  max-height: 88px !important;
}

.pt-height-px-100 {
  height: 100px !important;
}

.pt-max-height-px-100 {
  max-height: 100px !important;
}

.pt-height-px-150 {
  height: 150px !important;
}

.pt-max-height-px-150 {
  max-height: 150px !important;
}

.pt-height-px-auto {
  height: auto !important;
}

.pt-max-height-px-auto {
  max-height: auto !important;
}

.pt-font-size-px-1em {
  font-size: 1em !important;
}

.pt-font-size-px-14 {
  font-size: 14px !important;
}

.pt-font-size-px-16 {
  font-size: 16px !important;
}

.pt-font-size-px-12 {
  font-size: 12px !important;
}

.pt-font-size-px-18 {
  font-size: 18px !important;
}

.pt-font-size-px-24 {
  font-size: 24px !important;
}

.pt-font-size-px-17 {
  font-size: 17px !important;
}

.pt-font-size-px-30 {
  font-size: 30px !important;
}

.pt-font-size-px-32 {
  font-size: 32px !important;
}

.pt-font-size-px-36 {
  font-size: 36px !important;
}

.pt-font-size-px-20 {
  font-size: 20px !important;
}

.pt-font-size-px-22 {
  font-size: 22px !important;
}

.pt-font-size-px-26 {
  font-size: 26px !important;
}

.pt-font-size-px-25 {
  font-size: 25px !important;
}

.pt-font-size-px-40 {
  font-size: 40px !important;
}

.pt-font-size-px-48 {
  font-size: 48px !important;
}

.pt-font-size-px-50 {
  font-size: 50px !important;
}

.pt-border-radius-px-3 {
  border-radius: 3px !important;
}

.pt-border-radius-px-30 {
  border-radius: 30px !important;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Italic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Thin.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
#pt {
  background-color: #E8EDF3;
}
#pt .booking .booking-main {
  background-color: #ffffff;
}
#pt .booking .booking-main .date-time input[type=date],
#pt .booking .booking-main .date-time input[type=time] {
  color: #707070;
}
#pt .booking .booking-main .date-time input[type=date]:focus-visible,
#pt .booking .booking-main .date-time input[type=time]:focus-visible {
  outline: unset;
}
#pt .booking .booking-main .date-time ::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}
#pt .booking .tutor-main .tutor-inner .profile-img {
  position: relative;
}
#pt .booking .tutor-main .tutor-inner .profile-img .tutor-img {
  border: 4px solid #6E7070;
  border-radius: 50%;
}
#pt .booking .tutor-main .tutor-inner .profile-img .flag {
  position: absolute;
  top: 13px;
  right: -10px;
  height: 14px;
  width: 25px;
}
#pt .booking .tutor-main .tutor-inner .tutor-name {
  color: #6E7070;
  font-weight: 300;
}
#pt .booking .tutor-main .tutor-inner:hover, #pt .booking .tutor-main .tutor-inner.active {
  cursor: pointer;
}
#pt .booking .tutor-main .tutor-inner:hover .tutor-img, #pt .booking .tutor-main .tutor-inner.active .tutor-img {
  border: 4px solid #0077B6;
}
#pt .booking .tutor-main .tutor-inner:hover .tutor-name, #pt .booking .tutor-main .tutor-inner.active .tutor-name {
  color: #0077B6;
  font-weight: 400;
}

.rate {
  float: left;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 20px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
}

.rate:not(:checked) > label:before {
  content: "★ ";
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}/*# sourceMappingURL=booking.css.map */

.starrate span.ctrl { position:absolute; z-index:2;}
    .starrate { color:var(--secondary); cursor:pointer}
    .starrate.saved { color:var(--dark);}
    .starrate:hover { color:var(--primary);} .starrate.saved:hover { color:var(--orange);}